body{
	min-height: 100vh;
	background: linear-gradient(135deg, #020617, #0F172A, #083344);
	color: #E5E7EB;
}
.navbar {
	background: #0F172A;
	position: flex;
	top: 0;
	width: 100%;
	height: 50px;
	color: black;
	display: flex;
	align-items: center;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 10;
	justify-content: center;
	border-radius: 10px;	
}
.Navbar-link{
	list-style: none;
	display: flex;
	gap: 20px;
	align-items: center;
	margin-right: end;
}
.Navbar-link li a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	transition: 0.9s;
	background-color: white;
	font-weight: bold;
	border-radius: 20px;
}
.logo{
	color: whitesmoke;
	font-size: 20px;
	font-weight: bold;
	margin-right: auto;
	text-shadow: 0 0 10px #fff, 0 0 0 20px #fff, 0 0 21px #fff0de;
	background-color: #0F172A;
	border-radius: 100%;
	padding: 10px;
}
section{
	background-image: linear-gradient(135deg, #020617, #0F172A, #083344);
	background: transparent;
	color: white;
	text-align: center;
	padding: 60px 20px;
}
.link_hero{
	background-color: white;
	color: black;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
}
.link_hero:hover{
	background-color: white;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px solid gray;
}
#content {
	padding : 80px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	text-align: left;
}
footer{
	background-color: whitesmoke;
	color: black;
	text-align: center;
	padding: 1px;
	font-size: 15px;
	margin-top:40px;
	box-shadow: 0 -2 5px rgba (0,0,0,0.1);
}

.card{
	width: 150px;
	padding:10px;
	border: 1px solid gray;
	box-shadow:0 2px 5px rgba(0,0,0,0.1);
	background-color: white;
	overflow: hidden;
	margin: 10px;
	text-align: center;
	border-radius:10px;
}
.card-img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}
.card-title{
	font-size: 18px;
	color: black;
}
.card-btn{
	background-color: #0F172A;
			border-radius: 10px;
			padding: 10px 20px;
			color: white;
			margin-top: 10px;
			margin-bottom: 10px;
			text-decoration: none;
}
.card-btn:hover{
	background-color: gray;
}
.all-card{
	display: flex;
	gap: 10px;
	justify-content: center;
}
.paragraf{
	justify-content: center;
	font-weight: bold;
	font-size: medium
}